.active-order-container {
    padding: 30px;
}

.table {
    /* margin-top: 40px; */
    background: #fff;
    border: 1px solid #d7d7e6;
}

.table thead th {
    width: 46px;
    height: 22px;
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b5b65;
    text-align: center;
    border: 1px solid #d7d7e6;
}

.table td {
    /* text-align: center; */
    border: 1px solid #d7d7e6;
    width: 90px;
    height: 22px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0a0a14;
}
.table th {
    text-align: center;
    border: 1px solid #d7d7e6;
    width: 90px;
    height: 22px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0a0a14;
}

.done {
    color: #00c290;
    cursor: pointer;
}

.count {
    margin-top: 40px;
    margin-right: 30px;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.count-number {
    width: 19px;
    height: 43px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #0a0a14;
}

.count-name {
    width: 81px;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #94979b;
}

.orders-title {
    height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #0a0a14;
    margin-top: 40px;
    margin-bottom: 10px;
}

.Active {
  color: #ffd500 !important;
}

.resolve {
    background: #fff;
    border: 1px solid #d7d7e6;
    cursor: pointer;
    color:#eb4515;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
}
