.reporting-header {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.reporting-header > *:not(:last-child) {
  margin-right: 15px;
}

.card-header {
  background: #fff;
}

.linechart-card {
  /* padding-right: 15px;
  padding-top: 15px;
  margin-right: 15px; */
  /* padding: 20px 0; */
  display: flex;
  justify-content: center;
  border-radius: 0;
}
.linechart-card .card-header {

  font-size: 20px;
  color: #000000;
  opacity: 0.87;
  background: #fff;
}

.statistics-row {
  margin-bottom: 20px;
}

.expense-card {
  border-radius: 0;

}
.expense-card .card-header {
  background: #fff;

  font-size: 12px;
  font-weight: 600;
  color: #9fa9ba;
}



.card-body {

  color: #354052;
}
.card-body p {

  font-size: 20px;
}
.card-body h4 {
  font-size: 30px;
}

.dishes-card .card-header, .chef-card .card-header{

  font-size: 16px;
  color: #3c4144;
}


.dishes-card table {
  border: 0;
}

.dishes-card table thead th {
  border:none;
  border-bottom:1px solid #d7d7e6;
  color: #ffb946;

  font-size: 14px;

}
.dishes-card table td, .dishes-card table th {
  border: none;
  border-bottom:1px solid #d7d7e6;
  color: #3c4144;
}

.chef-card{
  text-align: center;
}

.chef-card h3{

  font-size: 14px;
  font-weight: 600;
  color: #3c4144;
}

.chef-card p {

  font-size: 14px;
  font-weight: 600;
  color: #949ba0;
}

.chef-card img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
